# Ignore cache directories       
__pycache__/

# Ignore compiled Python files
*.pyc

# Ignore sensitive configuration files and databases
.env
data/weather.db

# Ignore log files
logs/

# Ignore export files
CSV_files/
training_results/