# Ignore cache directories       
__pycache__/

# Ignore compiled Python files
*.pyc

# Ignore sensitive configuration files and genereted data
.env
data/
extra/

# Ignore log files
logs/

# Ignore export files
CSV_files/
training_results/

.DS_Store
.streamlit/
